.button {
    background-color: blue;
    color: white;
    width: 90px;
    padding: 10px 0;
    text-align: center;
    border: 1px solid black;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 15px;
    font-size:10px;
}

.allTest {
    position: relative;
}

.rTable {
    display: block;
    width: 100%;
}
.rTableHeading, .rTableBody, .rTableFoot, .rTableRow{
    clear: both;
}
.rTableHead, .rTableFoot{
    background-color: #DDD;
    font-weight: bold;
    height: 20px;
    font-size:10px;
}
.lTableHead, .lTableFoot{
    background-color: #DDD;
    font-weight: bold;
    height: 20px;
}
.rTableCell, .rTableHead {
    border: 1px solid #999999;
    float: left;
    height: 75px;
    overflow: hidden;
    padding: 3px 1.8%;
    width: 70%;
    font-size:10px;
}
.lTableCell, .lTableHead {
    border: 1px solid #999999;
    float: left;
    height: 75px;
    overflow: hidden;
    padding: 3px 1.8%;
    width: 25%;
}
.rTable:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}