.button {
    background-color: blue;
    color: white;
    width: 80px;
    padding: 10px 0;
    text-align: center;
    border: 1px solid black;
    position: relative;
    top: 0;
    left: 0;
    margin-top: 15px;
    font-size:10px;
}

.allTest {
    position: relative;
}

.rTable {
    display: block;
    width: 100%;
}
.rTableHeading, .rTableBody, .rTableFoot, .rTableRow{
    clear: both;
}
.rTableHead, .rTableFoot{
    background-color: #DDD;
    font-weight: bold;
    height: 20px;
    font-size:10px;
}
.lTableHead, .lTableFoot{
    background-color: #DDD;
    font-weight: bold;
    height: 20px;
}
.rTableCell, .rTableHead {
    border: 1px solid #999999;
    float: left;
    height: 75px;
    overflow: hidden;
    padding: 3px 1.8%;
    width: 65%;
    font-size:10px;
}
.lTableCell, .lTableHead {
    border: 1px solid #999999;
    float: left;
    height: 75px;
    overflow: hidden;
    padding: 3px 1.8%;
    width: 25%;
}
.rTable:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }